html {
    --pst-font-family-base: "Geologica", "Sans-Serif";
    --pst-font-family-heading: "Chelsea Market", "system-ui";
    --pst-font-weight-heading: 700;
}

html[data-theme="light"] {
    --pst-color-primary: #db3a35;
    --pst-color-primary-highlight: #000000;
    --pst-color-secondary: #088b05;
    --pst-color-secondary-highlight: #000000;
    --pst-color-accent: #cb38aa;
    --pst-color-inline-code: #cb38aa;
    --pst-color-inline-code-links: #cb38aa;
    --pst-color-table-row-hover-bg: #dddad7;
}

html[data-theme="dark"] {
    --pst-color-text-base: #fafcfc;
    --pst-color-background: #05070f;
    --pst-color-on-background: #090d19;
    --pst-color-primary: #db3a35;
    --pst-color-primary-highlight: #fafcfc;
    --pst-color-secondary: #088b05;
    --pst-color-secondary-highlight: #fafcfc;
    --pst-color-accent: #cb38aa;
    --pst-color-inline-code: #cb38aa;
    --pst-color-inline-code-links: #cb38aa;
    --pst-color-table-row-hover-bg: #dddad7;
}


/* Separation between methods in the API reference */
.py.method, .py.attribute{
    border-top: 1px solid #cccccc;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* The tutorial buttons */
.tutorial-button {
    padding-right: 0px;
    padding-left: 0px;
    align-self: center;
}

/* The tutorial button icons */
svg.tutorial-button-icon path {
    fill: var(--pst-color-primary);
}
