html {
    --pst-font-family-base: "Geologica", "Sans-Serif";
    --pst-font-family-heading: "Montserrat", "system-ui";
    --pst-font-weight-heading: 600;
}

html[data-theme="light"] {
    --pst-color-primary: #d95ca1;
    --pst-color-primary-highlight: #9b5aa4;
    --pst-color-secondary: #3dae82;
    --pst-color-secondary-highlight: #5abf95;
    --pst-color-accent: #9b5aa4;
    --pst-color-inline-code: #9b5aa4;
    --pst-color-inline-code-links: #9b5aa4;
    --pst-color-table-row-hover-bg: #dddad7;
}

html[data-theme="dark"] {
    --pst-color-text-base: #fafcfc;
    --pst-color-background: #05070f;
    --pst-color-on-background: #090d19;
    --pst-color-primary: #d95ca1;
    --pst-color-primary-highlight: #9b5aa4;
    --pst-color-secondary: #3dae82;
    --pst-color-secondary-highlight: #5abf95;
    --pst-color-accent: #9b5aa4;
    --pst-color-inline-code: #9b5aa4;
    --pst-color-inline-code-links: #9b5aa4;
    --pst-color-table-row-hover-bg: #dddad7;
}


/* Separation between methods in the API reference */
.py.class, .py.method, .py.attribute{
    border-top: 1px solid #cccccc;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* The tutorial buttons */
.tutorial-button {
    padding-right: 0px;
    padding-left: 0px;
    align-self: center;
}

/* The tutorial button icons */
svg.tutorial-button-icon path {
    fill: var(--pst-color-primary);
}
